In [2]:
import pandas as pd
import numpy as np

In [3]:

#DataFrame con nuestros datos
df = pd.read_csv('octavos.csv')

In [4]:
#Valores nulos
print(df.isnull().sum())

Equipo 1     0
Agr.         0
Equipo 2     0
Ida          0
Vuelta       0
Temporada    0
dtype: int64

In [5]:
df.head()

              Equipo 1 Agr.           Equipo 2  Ida Vuelta Temporada
0              Leipzig  1–8    Manchester City  1–1    0–7     22/23
1               Brujas  1–7            Benfica  0–2    1–5     22/23
2            Liverpool  2–6        Real Madrid  2–5    0–1     22/23
3                Milan  1–0  Tottenham Hotspur  1–0    0–0     22/23
4  Eintracht Fráncfort  0–5             Napoli  0–2    0–3     22/23

In [6]:
nan_cols = df.isna().sum()
df.dropna(subset=nan_cols[nan_cols > 0].index, inplace=True)
df.isna().sum()

Equipo 1     0
Agr.         0
Equipo 2     0
Ida          0
Vuelta       0
Temporada    0
dtype: int64

In [7]:
df.head()

              Equipo 1 Agr.           Equipo 2  Ida Vuelta Temporada
0              Leipzig  1–8    Manchester City  1–1    0–7     22/23
1               Brujas  1–7            Benfica  0–2    1–5     22/23
2            Liverpool  2–6        Real Madrid  2–5    0–1     22/23
3                Milan  1–0  Tottenham Hotspur  1–0    0–0     22/23
4  Eintracht Fráncfort  0–5             Napoli  0–2    0–3     22/23

In [17]:
#Separamos la columna Agr. en dos columnas 'goles1' y 'goles2'
df[['goles1','goles2']] = df['Agr.'].str.split('–',expand=True)
df = df.drop(columns=['Agr.'], axis=1)
df.head()

KeyError: 'Agr.'

In [8]:

df.to_csv('octavos.csv', index=False)