In [64]:
import pandas as pd
import numpy as np

In [65]:

#DataFrame con nuestros datos
df = pd.read_csv('octavos.csv')

In [66]:
#Valores nulos
print(df.isnull().sum())

Equipo 1     0
Agr.         0
Equipo 2     0
Ida          0
Vuelta       0
Temporada    0
goles1       0
goles2       0
dtype: int64

In [67]:
df.head()

,Equipo 1,Agr.,Equipo 2,Ida,Vuelta,Temporada,goles1,goles2
0,Leipzig,1–8,Manchester City,1–1,0–7,22/23,1,8
1,Brujas,1–7,Benfica,0–2,1–5,22/23,1,7
2,Liverpool,2–6,Real Madrid,2–5,0–1,22/23,2,6
3,Milan,1–0,Tottenham Hotspur,1–0,0–0,22/23,1,0
4,Eintracht Fráncfort,0–5,Napoli,0–2,0–3,22/23,0,5

In [68]:
nan_cols = df.isna().sum()
df.dropna(subset=nan_cols[nan_cols > 0].index, inplace=True)
df.isna().sum()

Equipo 1     0
Agr.         0
Equipo 2     0
Ida          0
Vuelta       0
Temporada    0
goles1       0
goles2       0
dtype: int64

In [69]:
df.head()

,Equipo 1,Agr.,Equipo 2,Ida,Vuelta,Temporada,goles1,goles2
0,Leipzig,1–8,Manchester City,1–1,0–7,22/23,1,8
1,Brujas,1–7,Benfica,0–2,1–5,22/23,1,7
2,Liverpool,2–6,Real Madrid,2–5,0–1,22/23,2,6
3,Milan,1–0,Tottenham Hotspur,1–0,0–0,22/23,1,0
4,Eintracht Fráncfort,0–5,Napoli,0–2,0–3,22/23,0,5

In [70]:
#Separamos la columna Agr. en dos columnas 'goles1' y 'goles2'
df[['goles_1','goles_2']] = df['Agr.'].str.split('–',expand=True)
df[['goles_ida_1','goles_ida_2']] = df['Ida'].str.split('–',expand=True)
df[['goles_vuelta_2','goles_vuelta_1']] = df['Vuelta'].str.split('–',expand=True)


df.head()

,Equipo 1,Agr.,Equipo 2,Ida,Vuelta,Temporada,goles1,goles2,goles_1,goles_2,goles_ida_1,goles_ida_2,goles_vuelta_2,goles_vuelta_1
0,Leipzig,1–8,Manchester City,1–1,0–7,22/23,1,8,1,8,1,1,0,7
1,Brujas,1–7,Benfica,0–2,1–5,22/23,1,7,1,7,0,2,1,5
2,Liverpool,2–6,Real Madrid,2–5,0–1,22/23,2,6,2,6,2,5,0,1
3,Milan,1–0,Tottenham Hotspur,1–0,0–0,22/23,1,0,1,0,1,0,0,0
4,Eintracht Fráncfort,0–5,Napoli,0–2,0–3,22/23,0,5,0,5,0,2,0,3

In [71]:
columns_to_drop = ['Agr.', 'Ida', 'Vuelta', 'goles1', 'goles2']

# Verificar si todas las columnas existen antes de eliminar
if all(column in df.columns for column in columns_to_drop):
    df.drop(columns=columns_to_drop, inplace=True)
    print("Columnas eliminadas con éxito.")
else:
    print("Al menos una columna no se encuentra en el DataFrame.")

df.head()

Columnas eliminadas con éxito.

,Equipo 1,Equipo 2,Temporada,goles_1,goles_2,goles_ida_1,goles_ida_2,goles_vuelta_2,goles_vuelta_1
0,Leipzig,Manchester City,22/23,1,8,1,1,0,7
1,Brujas,Benfica,22/23,1,7,0,2,1,5
2,Liverpool,Real Madrid,22/23,2,6,2,5,0,1
3,Milan,Tottenham Hotspur,22/23,1,0,1,0,0,0
4,Eintracht Fráncfort,Napoli,22/23,0,5,0,2,0,3

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Equipo 1        80 non-null     object
 1   Equipo 2        80 non-null     object
 2   Temporada       80 non-null     object
 3   goles_1         80 non-null     object
 4   goles_2         80 non-null     object
 5   goles_ida_1     80 non-null     object
 6   goles_ida_2     80 non-null     object
 7   goles_vuelta_2  80 non-null     object
 8   goles_vuelta_1  80 non-null     object
dtypes: object(9)
memory usage: 5.8+ KB

In [73]:
#Transforamos las columnas a tipo int
colum_transform = ['goles_1', 'goles_2', 'goles_ida_1', 'goles_ida_2', 'goles_vuelta_1', 'goles_vuelta_2']
df[colum_transform] = df[colum_transform].apply(pd.to_numeric, errors='coerce', axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Equipo 1        80 non-null     object
 1   Equipo 2        80 non-null     object
 2   Temporada       80 non-null     object
 3   goles_1         79 non-null     float64
 4   goles_2         76 non-null     float64
 5   goles_ida_1     80 non-null     float64
 6   goles_ida_2     80 non-null     float64
 7   goles_vuelta_2  80 non-null     float64
 8   goles_vuelta_1  80 non-null     float64
dtypes: float64(6), object(3)
memory usage: 5.8+ KB

In [74]:
#Guardar el df en un archivo csv llamado octavos_df.csv
df.to_csv('octavos_df.csv', index=False)