In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:

#DataFrame con nuestros datos
df = pd.read_csv('octavos.csv', delimiter=',',  encoding='utf-8')
print(df)

ParserError: Error tokenizing data. C error: Expected 6 fields in line 89, saw 11

In [ ]:
#Valores nulos
print(df.isnull().sum())

Equipo 1     0
Agr.         0
Equipo 2     0
Ida          0
Vuelta       0
Temporada    0
dtype: int64

In [ ]:
df.head()

              Equipo 1 Agr.           Equipo 2  Ida Vuelta Temporada
0              Leipzig  1–8    Manchester City  1–1    0–7     22/23
1               Brujas  1–7            Benfica  0–2    1–5     22/23
2            Liverpool  2–6        Real Madrid  2–5    0–1     22/23
3                Milan  1–0  Tottenham Hotspur  1–0    0–0     22/23
4  Eintracht Fráncfort  0–5             Napoli  0–2    0–3     22/23

In [ ]:
nan_cols = df.isna().sum()
df.dropna(subset=nan_cols[nan_cols > 0].index, inplace=True)
df.isna().sum()

Equipo 1     0
Agr.         0
Equipo 2     0
Ida          0
Vuelta       0
Temporada    0
dtype: int64

In [ ]:
df.head()

              Equipo 1 Agr.           Equipo 2  Ida Vuelta Temporada
0              Leipzig  1–8    Manchester City  1–1    0–7     22/23
1               Brujas  1–7            Benfica  0–2    1–5     22/23
2            Liverpool  2–6        Real Madrid  2–5    0–1     22/23
3                Milan  1–0  Tottenham Hotspur  1–0    0–0     22/23
4  Eintracht Fráncfort  0–5             Napoli  0–2    0–3     22/23

In [ ]:
#Separamos la columna Agr. en dos columnas 'goles1' y 'goles2'
df[['goles_1','goles_2']] = df['Agr.'].str.split('–',expand=True)
df[['goles_ida_1','goles_ida_2']] = df['Ida'].str.split('–',expand=True)
df[['goles_vuelta_2','goles_vuelta_1']] = df['Vuelta'].str.split('–',expand=True)


df.head()

,Equipo 1,Agr.,Equipo 2,Ida,Vuelta,Temporada,goles_1,goles_2,goles_ida_1,goles_ida_2,goles_vuelta_2,goles_vuelta_1
0,Leipzig,1–8,Manchester City,1–1,0–7,22/23,1,8,1,1,0,7
1,Brujas,1–7,Benfica,0–2,1–5,22/23,1,7,0,2,1,5
2,Liverpool,2–6,Real Madrid,2–5,0–1,22/23,2,6,2,5,0,1
3,Milan,1–0,Tottenham Hotspur,1–0,0–0,22/23,1,0,1,0,0,0
4,Eintracht Fráncfort,0–5,Napoli,0–2,0–3,22/23,0,5,0,2,0,3

In [ ]:
columns_to_drop = ['Agr.', 'Ida', 'Vuelta']

# Verificar si todas las columnas existen antes de eliminar
if all(column in df.columns for column in columns_to_drop):
    df.drop(columns=columns_to_drop, inplace=True)
    print("Columnas eliminadas con éxito.")
else:
    print("Al menos una columna no se encuentra en el DataFrame.")

df.head(50
        )

Columnas eliminadas con éxito.

,Equipo 1,Equipo 2,Temporada,goles_1,goles_2,goles_ida_1,goles_ida_2,goles_vuelta_2,goles_vuelta_1
0,Leipzig,Manchester City,22/23,1,8,1,1,0,7
1,Brujas,Benfica,22/23,1,7,0,2,1,5
2,Liverpool,Real Madrid,22/23,2,6,2,5,0,1
3,Milan,Tottenham Hotspur,22/23,1,0,1,0,0,0
4,Eintracht Fráncfort,Napoli,22/23,0,5,0,2,0,3
5,Borussia Dortmund,Chelsea,22/23,1,2,1,0,0,2
6,Inter de Milán,Porto,22/23,1,0,1,0,0,0
7,París Saint-Germain,Bayern Múnich,22/23,0,3,0,1,0,2
8,Salzburgo,Bayern Múnich,21/22,2,8,1,1,1,7
9,Sporting de Portugal,Manchester City,21/22,0,5,0,5,0,0
10,Benfica,Ajax,21/22,3,2,2,2,1,0
11,Chelsea,Lille,21/22,4,1,2,0,2,1
12,Atlético de Madrid,Manchester United,21/22,2,1,1,1,1,0
13,Villarreal,Juventus,21/22,4,1,1,1,3,0
14,Inter de Milán,Liverpool,21/22,1,2,0,2,1,0
15,París Saint-Germain,Real Madrid,21/22,2,3,1,0,1,3
16,Borussia Mönchengladbach,Manchester City,20/21,0,4,0,2,0,2
17,Lazio,Bayern Múnich,20/21,2,6,1,4,1,2
18,Atlético de Madrid,Chelsea,20/21,0,3,0,1,0,2
19,Leipzig,Liverpool,20/21,0,4,0,2,0,2
20,Porto,Juventus,20/21,4,4,2,1,2,3
21,Barcelona,París Saint-Germain,20/21,2,5,1,4,1,1
22,Sevilla,Borussia Dortmund,20/21,4,5,2,3,2,2
23,Atalanta,Real Madrid,20/21,1,4,0,1,1,3
24,Borussia Dortmund,París Saint-Germain,19/20,2,3,2,1,0,2
25,Real Madrid,Manchester City,19/20,2,4,1,2,1,2
26,Atalanta,Valencia,19/20,8,4,4,1,4,3
27,Atlético de Madrid,Liverpool,19/20,4,2,1,0,3,2
28,Chelsea,Bayern Múnich,19/20,1,7,0,3,1,4
29,Olympique de Lyon,Juventus,19/20,2,2,1,0,1,2
30,Tottenham Hotspur,Leipzig,19/20,0,4,0,1,0,3
31,Napoli,Barcelona,19/20,2,4,1,1,1,3
32,Schalke 04,Manchester City,18/19,2,10,2,3,0,7
33,Atlético de Madrid,Juventus,18/19,2,3,2,0,0,3
34,Manchester United,París Saint-Germain,18/19,3,3,0,2,3,1
35,Tottenham Hotspur,Borussia Dortmund,18/19,4,0,3,0,1,0
36,Olympique de Lyon,Barcelona,18/19,1,5,0,0,1,5
37,Roma,Porto,18/19,3,4,2,1,1,3
38,Ajax,Real Madrid,18/19,5,3,1,2,4,1
39,Liverpool,Bayern Múnich,18/19,3,1,0,0,3,1
40,Juventus,Tottenham,17/18,4,3,2,2,1,2
41,Basilea,Manchester City,17/18,2,5,0,4,1,2
42,Oporto,Liverpool,17/18,0,5,0,5,0,0
43,Real Madrid,Paris,17/18,5,2,3,1,1,2
44,Chelsea,Barcelona,17/18,1,4,1,1,3,0
45,Bayern,Beşiktaş,17/18,8,1,5,0,1,3
46,Sevilla,Manchester United,17/18,2,1,0,0,1,2
47,Shakhtar,Roma,17/18,2,2,2,1,1,0
48,París Saint-Germain,Barcelona,16/17,5,6,4,0,6,1
49,Benfica,Borussia Dortmund,16/17,1,4,1,0,4,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Equipo 1        88 non-null     object
 1   Equipo 2        88 non-null     object
 2   Temporada       88 non-null     object
 3   goles_1         88 non-null     object
 4   goles_2         88 non-null     object
 5   goles_ida_1     88 non-null     object
 6   goles_ida_2     88 non-null     object
 7   goles_vuelta_2  88 non-null     object
 8   goles_vuelta_1  88 non-null     object
dtypes: object(9)
memory usage: 6.3+ KB

In [ ]:
#Transforamos las columnas a tipo int
colum_transform = ['goles_1', 'goles_2', 'goles_ida_1', 'goles_ida_2', 'goles_vuelta_1', 'goles_vuelta_2']
df[colum_transform] = df[colum_transform].apply(pd.to_numeric, errors='coerce', axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Equipo 1        88 non-null     object
 1   Equipo 2        88 non-null     object
 2   Temporada       88 non-null     object
 3   goles_1         88 non-null     int64
 4   goles_2         88 non-null     int64
 5   goles_ida_1     88 non-null     int64
 6   goles_ida_2     88 non-null     int64
 7   goles_vuelta_2  88 non-null     int64
 8   goles_vuelta_1  88 non-null     int64
dtypes: int64(6), object(3)
memory usage: 6.3+ KB

In [ ]:
print(df.isnull().sum())

Equipo 1          0
Equipo 2          0
Temporada         0
goles_1           0
goles_2           0
goles_ida_1       0
goles_ida_2       0
goles_vuelta_2    0
goles_vuelta_1    0
dtype: int64

In [ ]:
#Guardar el df en un archivo csv llamado octavos_df.csv
df.to_csv('data/octavos_df.csv', index=False)